
<html xmlns:th="http://www.thymeleaf.org">
     <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>

        <link href="/css/Menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

        <section th:replace="cliente/fragmentosCliente :: botonesAgregar"/>
        <section th:replace="cliente/fragmentosCliente :: agregarCliente"/>
        <section th:replace="cliente/fragmentosCliente :: listadoClientes"/>

        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
